<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/iiivanov/Desktop/Automation/SKILLO_Final_Project">
        <classes>
            <class name="org.ii.AppTest">
                <methods>
                    <include name="twoIntegersSomething"/>
                    <include name="secondAttempt"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>